{
  "plugins": [
    ["prismjs", {
        "languages": ["markup", "markdown", "javascript", "php", "c", "cpp", "lua", "ini", "git", "shell"],
        "theme": "okaidia",
        "css": true
    }]
  ]
}
