{
  "plugins": [
    ["prismjs", {
        "languages": ["bash", "batch", "c", "cpp", "clike", "css", "csv", "diff", "git", "html", "http", "ini", "java", "javascript", "js", "json", "lua", "log", "markdown", "nasm", "nginx", "perl", "php", "python", "py", "regex", "shell", "sql", "markup"],
        "theme": "okaidia",
        "css": true
    }]
  ]
}