.DS_Store
node_modules
/dist
yarn.lock

# local env files
.env.local
.env.production
.env

# JSON files
*.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Temporary files
commit_message.txt
